*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
}
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1;
	font-size: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul[class],
ol[class] {
	list-style: none;
}
img {
	max-width: 100%;
	display: block;
}

button {
	background-color: transparent;
	outline: none;
	border: 0;
	cursor: pointer;
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}

	html {
		scroll-behavior: initial;
	}
}
