@use 'styles/colors' as *;
@import 'styles/reset';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.error {
	color: $clr-text-error;
}

body {
	font-family: 'Lato', 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 18px;
	color: $clr-text-primary;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
